
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body,html{
    width:100%;
    height:100%;
}
*{
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}

body{
    background-position: bottom left;
    background-size: 50% 50%, 100% 100%;
    background-repeat: no-repeat,repeat;
    background-image: url('images/bg.jpg'),linear-gradient(to top,#000000 0% ,#000000 50% , rgba(0, 0, 0, 0.9) 100% );

    padding-left: 5vw;
    padding-right: 5vw;
    display:flex;
    flex-direction: column;

}
#app{

    height: 100%;
    footer{
        height:100px;
        flex-grow:0;
    }
    header{
        .popup{
            position: absolute;
            width: 50vw;
            padding-left: 1vw;
            background: gainsboro;
            top: 4.5vh;
            left: 1.5vw;

        }
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        position: fixed;
        top:0;
        width:90vw;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-items: center;
        background: #000;
        justify-content: flex-end;
        height:5vh;
        .search-field{
            flex: 1;

            font: 3vh Times new roman;
            padding-left: 0.5vw;
            padding-right: 0.5vw;
            display: inline-block;
            background: rgba(255,255,255,0.4);
            border: none;
            border-radius: 1vh;
            outline: none;

        }
        .icon{
            display:inline-block;
            line-height: 5vh;
            width:5vh;
            height:5vh;
            cursor: pointer;

            &.search-icon{
                background: url("images/search.png"), rgba(1, 2, 3, 0.82);
                background-size: 4vh;
                background-repeat: no-repeat,no-repeat;
                background-position: center;
            }
            &.advanced-icon{
                background: url("images/advanced.png"), rgba(1, 2, 3, 0.82);
                background-size: 4vh;
                background-repeat: no-repeat;
                background-position: center;
            }
        }


    }

}

