@import 'constants';



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body,html{
    width:100%;
    height:100%;
}
*{
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}

body{
    background-position: bottom left;
    background-size: 50% 50%, 100% 100%;
    background-repeat: no-repeat,repeat;
    background-image: url('images/bg.jpg'),linear-gradient(to top,#000000 0% ,#000000 50% , rgba(0, 0, 0, 0.9) 100% );

    padding-left: 5vw;
    padding-right: 5vw;
    display:flex;
    flex-direction: column;

}
#app{

    height: 100%;
    footer{
        bottom:0;
        width:90vw;
        position: fixed;
        background: #252525;
        box-shadow: 0 0 0.5vh 0.5vh #403c3c;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: $footerHeight;
        flex-grow:0;
        .icon{
            display:inline-block;
            line-height: 1vh;
            margin-right:1vw;
            width:$langIconSize;
            height: $langIconSize;
            cursor: pointer;
            background-size: $langIconSize;
            position: relative;
            display: inline-block;
          /*  .tooltip{
                visibility: hidden;
                width: $tooltipSize;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 3vh 0;
                line-height:3vh;
                left:$iconSize/2-$tooltipSize/2;
                position: absolute;
                z-index: 999;
                top: 100%;


                opacity: 0;
                transition: opacity 1s;
            }

            .tooltip::after {
                content: "";
                position: absolute;
                top: -1.9vh;
                left: 50%;
                margin-left: -0.5vh;
                border-width: 1vh;
                border-style: solid;
                border-color: transparent transparent #555 transparent;
            }*/
        /*    &:hover .tooltip{
                visibility: visible;
                opacity:1;
            }*/

        }
    }
    content{

        color: #999;
        flex-grow:1;
        display: block;
        margin-top: $headerHeight+2vh;

        background: rgb(37, 37, 37);
        &.chords-list{
            table{
                width:100%;
                background: ghostwhite;
                color:green;
            }
            tbody {
                tr:nth-child(odd) {
                    background: #000;

                }
                tr {
                    height: 5vh;
                }
                td {
                    padding-left: 1vw;
                }
            }
            thead{
                text-align: center;
            }
        }
    }
    header{
        .popup{
            position: absolute;
            width: 50vw;
            padding-left: 1vw;
            background: gainsboro;
            top: 4.5vh;
            left: 1.5vw;

        }
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        position: fixed;
        top:0;
        width:90vw;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-items: center;
        background: #252525;
        box-shadow: 0 0 0.5vh 0.5vh #403c3c;
        justify-content: flex-end;
        height: $headerHeight;
        .search-field{
            flex: 1;

            font: 3vh Times new roman;
            padding-left: 0.5vw;
            padding-right: 0.5vw;
            display: inline-block;
            background: rgba(255,255,255,0.4);
            border: none;
            border-radius: 1vh;
            outline: none;

        }
        .icon{
            display:inline-block;
            line-height: 7vh;
            width:$iconSize;
            height: $iconSize;
            cursor: pointer;
            background-size: 6vh;
            position: relative;
            display: inline-block;
            .tooltip{
                visibility: hidden;
                width: $tooltipSize;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 3vh 0;
                line-height:3vh;
                left:$iconSize/2-$tooltipSize/2;
                position: absolute;
                z-index: 999;
                top: 100%;


                opacity: 0;
                transition: opacity 1s;
            }

            .tooltip::after {
                content: "";
                position: absolute;
                top: -1.9vh;
                left: 50%;
                margin-left: -0.5vh;
                border-width: 1vh;
                border-style: solid;
                border-color: transparent transparent #555 transparent;
            }
            &:hover .tooltip{
                visibility: visible;
                opacity:1;
            }

        }


    }

}

